.movie-delete-btn {
    color: white;
    border: none;
    background-color: #e50914;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.movie-delete-btn:hover {
    background-color: #fff;
    color: #e50914;
    font-weight: bold;
}